<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>COVID-19 Global</h2>
      </div>
    </div>
    <div class="row" v-if="load">
      <div class="col-md-4">
        <InfoGlobal :cases="worldWideResult.TotalConfirmed" title="Confirmed Cases" />
      </div>
      <div class="col-md-4">
        <InfoGlobal :cases="worldWideResult.TotalRecovered" title="Recovered Cases" />
      </div>
      <div class="col-md-4">
        <InfoGlobal :cases="worldWideResult.TotalDeaths" title="Total Deaths" />
      </div>
    </div>
    <div class="row bg-light mt-5">
      <div class="col-md-12">
        <div class="form-group">
          <label>Countries :</label>
          <select class="custom-select w-100 mb-3" v-model="country" v-on:change="countryFilter()">
            <option selected>Please select the country</option>
            <option v-for="(c,i) in countries" v-bind:key="i" :value="c.Slug">{{c.Country}}</option>
          </select>
        </div>
        <canvas id="myChart" width="400" height="auto" v-show="country"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";
import InfoGlobal from "./InfoGlobal";
import APIService from "../api.service";

export default {
  name: "Covid",
  components: {
    InfoGlobal
  },
  created() {
    let countries = APIService.getCountries();
    countries.then( res => {
      this.$store.commit("setCountryList", res.data);
      this.countryList = true;
    });
  },
  mounted() {
    this.createChart();
    this.$store.dispatch("getWorldWideData");
  },
  data: function() {
    return {
      countryList: false,
      country: "Please select the country",
      ctx: null,
      myChart: null
    };
  },
  computed: {
    load() {
      return this.$store.state.loading;
    },
    worldWideResult() {
      return this.$store.state.worldWideResult.Global;
    },
    countries() {
      return this.$store.state.countyList;
    }
  },
  methods: {
    countryFilter() {
      APIService.getCountryResults(this.country).then(res => {
        let arr = [res.data[0].Confirmed, res.data[0].Recovered,  res.data[0].Deaths];
        this.updateChart(arr);
      });
    },
    updateChart(data) {
      this.myChart.data.datasets[0].data = data;
      this.myChart.update();
    },
    createChart() {
      this.ctx = document.getElementById("myChart").getContext("2d");
      this.myChart = new Chart(this.ctx, {
        type: "bar",
        data: {
          labels: ["Confirmed Cases", "Recovered Cases", "Total Deaths"],
          datasets: [
            {
              label: "# of Cases",
              data: [0, 0, 0],
              backgroundColor: [
                "rgba(75, 192, 192, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(255, 99, 132, 0.2)"
              ],
              borderColor: [
                "rgba(75, 192, 192, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(255, 99, 132, 1)"
              ],
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    }
  }
};
</script>
