<template>
  <div class="info-global bg-light">
    <div class="info-global-body text-center p-2">
      <p class="display-4 mb-0">{{cases}}</p>
      <h5 class="text-muted">{{title}}</h5>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoGlobal",
  props: ["cases", "title"]
};
</script>