<template>
  <div id="app">
    <Covid />
  </div>
</template>

<script>
import Covid from "./components/Covid.vue";

export default {
  name: "App",
  components: {
    Covid
  }
};
</script>

<style>
</style>